{% extends "layout/layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{ super() }}

<!--Leaflet files-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

<!--Leafleat Draw-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />

<!-- Render mapa -->
<script type="module" src="../../static/js/meeting_point/new.js"></script>
<!-- END Render mapa -->

{% endblock %}
{% block content %}
<div class="d-block">
    <h1 class="text-center text-white" style="padding: 15px;">
        Crear Punto de Encuentro
    </h1>
</div>
<div class="container" style="background-color: white; padding: 30px; border-radius: 10px;">
    <form action="{{ url_for('meeting_point_create') }}" method="POST" id="create-meeting-point-form">
        <div class="row">
            <div class="col-md d-grid gap-3 mb-3">
                <div>
                    <label class="form-label fw-bold">Nombre</label>
                    <input required name="name" class="form-control">
                </div>
                <div>
                    <label class="form-label fw-bold">Direccion</label>
                    <input required name="adress" class="form-control">
                </div>
                <div>
                    <label class="form-label fw-bold">Telefono</label>
                    <input required name="phone" class="form-control" type="number">
                </div>
                <div>
                    <label class="form-label fw-bold">E-Mail</label>
                    <input required name="email" class="form-control" type="email">
                </div>
                <div>
                    <div class="form-check">
                        <input name="status" class="form-check-input" type="checkbox" checked>
                        <label class="form-check-label">
                            Iniciar como punto Activo
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <label class="form-label fw-bold">Seleccionar en el mapa</label>
                <div id="map" style="height: 380px; width: 100%;">
                </div>
                <input class=" d-none" id="lat" type="text" name="lat">
                <input class="d-none" id="lng" type="text" name="lng">
            </div>
        </div>

        <div class="row pt-4">
            <div class="col"><a href="{{ url_for('meeting_point_index') }}">
                    <button type="button" class="btn btn-light">Cancelar y volver</button>
                </a></div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Crear Punto de Encuentro</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}