{% extends "layout/layout.html" %}
{% block title %}Zonas Inundables{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <h1 class="col-9">Zonas inundables</h1>
    {% if check_permission(current_user, "zona_inundable_new") %}
    <div class="col" ><a class="btn btn-success" href="{{ url_for('flood_zone_new') }}">Nueva zona</a></div>
    {% endif %}
    {% if check_permission(current_user, "zona_inundable_import") %}
    <div class="col"><a class="btn btn-success" href="{{ url_for('flood_zone_import') }}">Importar zonas</a></div>
    {% endif %}

</div>
<table class="table">
    <thead>
        <tr>
            <th class="table-dark">Código</th>
            <th class="table-dark">Nombre</th>
            <th class="table-dark">Puntos</th>
            <th class="table-dark">Estado</th>
            <th class="table-dark">Acciones</th>
            
        </tr>
    </thead>
    <tbody>
        {% for flood_zone in flood_zones %}
        <tr>
            <td class="table-light">{{flood_zone.code}}</td>
            <td class="table-light">{{flood_zone.name}}</td>
            <td class="table-light">{{flood_zone.flood_points|length}}</td>
            {% if flood_zone.status %}
            <td class="table-light">Publicado</td>
            {% else %}
            <td class="table-light">Despublicado</td>
            {% endif %}
            
            <td class="table-light">
            {% if check_permission(current_user, "zona_inundable_show") %}
                <form action="" method="POST">
                    <button name="edit_id" value="{{flood_zone.id}}" formaction="{{ url_for('flood_zone_show', id=flood_zone.id) }}" type="submit"
                    class="btn btn-secondary">Ver</a>
                </form>
            {% endif %}
            </td>            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}