{% extends "layout/layout.html" %}
{% block title %}Detalle zona inundable{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <h1 class="col-10">Zonas inundables</h1>
</div>

<div class="container-md col-md-10" style="background-color: white; padding: 30px; border-radius: 10px;">
    <div class="row">
        <div class="col-5">
            <form action="{{ url_for('flood_zone_add') }}" method="POST">
                <div class="col">
                    <label class="form-label">Código</label>
                    <input required name="code" class="form-control" minlength="6" maxlength="10" placeholder="6 a 10 caracteres, no puede coincidir con uno existente">
                </div>
                <br>
                <div class="col">
                    <label class="form-label">Nombre</label>
                    <input required name="name" class="form-control" maxlength="40" placeholder="No puede coincidir con uno existente">
                </div>
                <br>
                <div class="col">
                    <label for="exampleColorInput" class="form-label">Color </label>
                    <input name="color" type="color" required class="form-control form-control-color" id="exampleColorInput" value="#FF00FF" title="Seleccione un color">
                </div>
                <br>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="True" name="estado" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked" >
                            Publicar
                        </label>
                    </div>
                </div>
                
                
                <br>
                <div class="row">
                    <div class="col"><a href="{{ url_for('flood_zone_index') }}">
                            <button type="button" class="btn btn-primary">Cancelar y volver</button>
                        </a>
                    </div>                    
                    <div class="col text-center">
                            <button type="submit" class="btn btn-danger">Crear zona</button>
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="col-5">
                MAPA
    
        </div>
    </div>
    
</div>

{% endblock %}