{% extends "layout/layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="row">
  <h1 class="col-10">Usuarios</h1>
  <a class="col" href="{{ url_for('user_new') }}"><button class="btn btn-success">Nuevo usuario</button></a>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="table-dark">Email</th>
      <th class="table-dark">Nombre</th>
      <th class="table-dark">Apellido</th>
      <th class="table-dark">Contraseña</th>
      <th class="table-dark">Roles</th>
      <th class="table-dark">Activo/Inactivo</th>
      <th class="table-dark">Acciones</th>
      <th class="table-dark"></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users.items %}
    <tr>
      <td class="table-light">{{user.email}}</td>
      <td class="table-light">{{user.first_name}}</td>
      <td class="table-light">{{user.last_name}}</td>
      <td class="table-light">{{user.password}}</td>
      <td class="table-light">
        {% for rol in user.roles %}
        {{ rol.name }}
        {% endfor %}
      </td>

      <td class="table-light">
        {% if user.active %}
        Activo
        {% else %}
        Inactivo
        {% endif %}
        <a href="{{url_for('user_toggle',user_email=user.email)}}">
          (cambiar)
        </a>
      </td>

      <td class="table-light">
        {% if check_permission(current_user, "usuario_destroy") %}
        <form action="" method="POST">
          <button name="destroy_id" value="{{ user.id }}" formaction="{{ url_for('user_destroy') }}" type="submit"
            class="btn btn-danger">Eliminar</a>
        </form>
        {% endif %}
      </td>
      <td class="table-light">
        {% if check_permission(current_user, "usuario_update") %}
        <form action="" method="POST">
          <button name="edit_id" value="{{ user.id }}" formaction="{{ url_for('user_edit',id=user.id) }}" type="submit"
            class="btn btn-secondary">Editar</a>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="row justify-content-center">
  <div class="col-auto">
    <div class="text-right">
      <a href="{{ url_for('user_index', page=users.prev_num) }}" class="btn btn-outline-dark 
     {% if users.page == 1 %}disabled{% endif %}">
        &laquo;
      </a>
      <!-- Iterar sobre el numero de paginas para mostrar un link por cada pagina -->
      {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
      <!-- Tildar la pagina actual como "activa" -->
      {% if users.page == page_num %}
      <a href="{{ url_for('user_index', page=page_num) }}" class="btn btn-dark">
        {{ page_num }}
      </a>
      {% else %}
      <a href="{{ url_for('user_index', page=page_num) }}" class="btn btn-outline-dark">
        {{ page_num }}
      </a>
      {% endif %}
      {% else %}
      ...
      {% endif %}
      {% endfor %}
      <a href="{{ url_for('user_index', page=users.next_num) }}" class="btn btn-outline-dark 
     {% if users.page == users.pages %}disabled{% endif %}">
        &raquo;
      </a>
    </div>
  </div>
</div>
{% endblock %}