{% extends "layout/layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="d-block">
    <h1 class="text-center text-white" style="padding: 15px;">
        Editar mi perfil
    </h1>
</div>
<div class="container-md col-md-6" style="background-color: white; padding: 30px; border-radius: 10px;">
    <form action="{{ url_for('user_profile_update') }}" method="POST">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="mb-3">
                        <label for="email" class="form-label" style="font-weight: bold;">Email</label>
                        <input name="email" type="email" class="form-control" id="email"
                            value="{{ current_user.email }}">
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="mb-3">
                    <label for="password" class="form-label" style="font-weight: bold;">Contraseña</label>
                    <input name="password" type="password" class="form-control" id="password"
                        value="{{ current_user.password }}">
                </div>
            </li>
            <li class="list-group-item">
                <div class="mb-3">
                    <label for="confirm_password" class="form-label" style="font-weight: bold;">Repetir
                        contraseña</label>
                    <input name="confirm_password" type="password" class="form-control" id="confirm_password"
                        value="{{ current_user.password }}">
                </div>
            </li>
            <li class="list-group-item">
                <div class="mb-3">
                    <label for="first_name" class="form-label" style="font-weight: bold;">Nombre</label>
                    <input name="first_name" type="text" class="form-control" id="first_name"
                        value="{{ current_user.first_name }}">
                </div>
            </li>
            <li class="list-group-item">
                <div class="mb-3">
                    <label for="last_name" class="form-label" style="font-weight: bold;">Apellido</label>
                    <input name="last_name" type="text" class="form-control" id="last_name"
                        value="{{ current_user.last_name }}">
                </div>
            </li>
        </ul>
        <div class="container mt-4">
            <div class="row">
                <div class="col-6">
                    <a type="button" class="btn btn-danger" href="{{ url_for('user_profile') }}">Cancelar</a>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}