{% extends "layout/layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{ super() }}

<!--Leaflet files-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

<!--Leafleat Draw-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />

<!-- Render mapa -->
<script type="module" src="{{ url_for('static', filename='js/evacuation_route/detail.js') }}"></script>
<!-- END Render mapa -->

{% endblock %}
{% block content %}

<div class="d-block">
    <h1 class="text-center text-white" style="padding: 15px;">
        Detalle Recorrido de evacuacion
    </h1>
</div>

{% if meeting_point is not none %}

<div class="container-md" style="background-color: white; padding: 30px; border-radius: 10px;">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3" style="font-weight: bold;">Nombre</div>
                        <div class="col-sm-9 text-sm-end text-start">{{ route.name }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3" style="font-weight: bold;">Descripcion</div>
                        <div class="col-sm-9 text-sm-end text-start">{{ route.description }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3" style="font-weight: bold;">Estado</div>
                        <div class="col-sm-9 text-sm-end text-start">
                            {% if route.status %}
                            Publicado
                            {% else %}
                            No publicado
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <input id="points" class="d-none" type="text" value="{{ points }}">
        <div id="map" class="col-md-6" style="height: 100%; min-height: 280px;"></div>
    </div>

    <div class="mt-3">
        <div class="row">
            <div class="col-sm col-12 text-center mt-3">
                <button type="button" onclick="go_back()" class="btn btn-secondary col-sm-auto col-12">Volver</button>
            </div>
            {% if check_permission(current_user, "recorrido_evacuacion_update") %}
            <div class="col-sm col-12 text-center mt-3">
                <form action="{{ url_for('evacuation_route_edit', id=route.id) }}" method="POST">
                    <button class="btn btn-warning col-sm-auto col-12" type="submit">
                        Editar
                    </button>
                </form>
            </div>
            {% endif %}
            {% if check_permission(current_user, "recorrido_evacuacion_destroy") %}
            <div class="col-sm col-12 text-center mt-3">
                <button type="button" class="btn btn-danger col-sm-auto col-12" data-bs-toggle="modal"
                    data-bs-target="#confirmDeleteModal">
                    Eliminar
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar punto de encuentro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Usted quiere eliminar la ruta: "{{ route.name }}".</p>
                <p>Esta accion no se puede deshacer.</p>
                <p>¿Esta seguro/a que desea eliminarlo?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar y volver</button>
                <form action="{{ url_for('evacuation_route_destroy', id=route.id) }}" method="POST">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="container-md col-md-6" style="background-color: white; padding: 30px; border-radius: 10px;">
    <h4>El punto de encuentro no existe</h4>
</div>
{% endif %}



{% endblock %}