{% extends "layout/layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <h1 class="col-md-9 ms-2">Recorridos de evacuacion</h1>
    {% if check_permission(current_user, "recorrido_evacuacion_new") %}
    <div class="col m-2">
        <a class="btn btn-success" href="{{ url_for('evacuation_route_new') }}">
            Nuevo recorrido
        </a>
    </div>
    {% endif %}
</div>
<div class="row p-2">
    <div class="col-md-6">
        <form action="{{ url_for('evacuation_route_index') }}">
            <div class="input-group mb-3">
                <input id="search-name-input" name="name_query" type="text" class="form-control"
                    placeholder="Buscar por nombre..." aria-describedby="search-button">
                <button class="btn btn-light" type="submit" id="search-button">Buscar</button>
            </div>
        </form>
    </div>
</div>

{% if name_query %}
<div class="row-auto p-2">Mostrando resultados con:
    <div type="button" class="btn btn-light">
        "{{ name_query }}"
        <a href="{{ url_for('evacuation_route_index') }}">
            <span class="badge bg-danger">x</span>
        </a>
    </div>
</div>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th class="table-dark">ID</th>
            <th class="table-dark">Nombre</th>
            <th class="table-dark d-none d-md-block">Descripcion</th>
            <th class="table-dark">Estado</th>
            <th class="table-dark"></th>
        </tr>
    </thead>
    <tbody>
        {% for route in routes.items %}
        <tr>
            <td class="table-light">{{route.id}}</td>
            <td class="table-light">{{route.name}}</td>
            <td id="description" class="table-light d-none d-md-table-cell">{{route.description}}</td>
            <td class="table-light">
                {% if route.status %}
                Publicado
                {% else %}
                No publicado
                {% endif %}
            </td>
            <td class="table-light">
                {% if check_permission(current_user, "recorrido_evacuacion_show") %}
                <a class="btn btn-light" href="{{ url_for('evacuation_route_detail', id=route.id) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pen-fill" viewBox="0 0 16 16">
                        <path
                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                    </svg>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row justify-content-center">
    <div class="col-auto">
        <div class="text-right">
            <a href="{{ url_for('evacuation_route_index', page=routes.prev_num) }}" class="btn btn-outline-dark 
     {% if routes.page == 1 %}disabled{% endif %}">
                &laquo;
            </a>
            <!-- Iterar sobre el numero de paginas para mostrar un link por cada pagina -->
            {% for page_num in routes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
            <!-- Tildar la pagina actual como "activa" -->
            {% if routes.page == page_num %}
            <a href="{{ url_for('evacuation_route_index', page=page_num) }}" class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('evacuation_route_index', page=page_num) }}" class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            <a href="{{ url_for('evacuation_route_index', page=routes.next_num) }}" class="btn btn-outline-dark 
     {% if routes.page == routes.pages %}disabled{% endif %}">
                &raquo;
            </a>
        </div>
    </div>
</div>

<script>
    // Funcion simple para acortar descripciones si son muy largas (mas de 50 caracteres)
    var descriptions = document.querySelectorAll('#description');
    descriptions.forEach((d) => {
        if (d.innerText.length > 50) {
            d.innerText = d.innerText.substring(0, 47) + '...';
        }
    });
</script>

{% endblock %}